<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Analysis</title>
    <link rel="stylesheet" href="style.css">
    <!-- Подключение библиотеки Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Подключение библиотеки datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<header>
    <h1>Finance Tracker</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/analysis">Analysis</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <!-- Общая статистика -->
    <div>
        <h2>Общий доход: <span th:text="${totalIncome}"></span></h2>
        <h2>Общий расход: <span th:text="${totalExpense}"></span></h2>
        <h2>Фактический остаток: <span th:text="${balance}"></span></h2><br>
    </div>

    <!-- Форма для выбора даты -->
    <div class="datepicker">
        <label for="datepicker">Выбор даты:</label>
        <input type="date" id="datepicker" name="selectedDate"><br>
        <button type="submit" id="filterButton">Принять</button>
    </div>
</div>
<div align="center" style="width: 1000px;">
    <h2>Анализ</h2>
    <div id="incomeChart"></div>
    <div id="expenseChart"></div>
</div>
<script th:inline="javascript">
    var incomeData = /*[[${incomeByCategory}]]*/ {};
    var expenseData = /*[[${expenseByCategory}]]*/ {};

    google.charts.load('current', {
        packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        // Проверка на пустоту данных перед отрисовкой диаграмм
        if (!jQuery.isEmptyObject(incomeData)) {
            drawPieChart('incomeChart', incomeData, 'Доходы по категориям');
        }
        if (!jQuery.isEmptyObject(expenseData)) {
            drawPieChart('expenseChart', expenseData, 'Расходы по категориям');
        }
    }

    function drawPieChart(containerId, data, title) {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Category');
        dataTable.addColumn('number', 'Amount');
        Object.keys(data).forEach(function(category) {
            dataTable.addRow([category, data[category]]);
        });

        var options = {
            title: title,
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById(containerId));
        chart.draw(dataTable, options);
    }

    // Форматирование даты в формат "год-месяц-день"
    function formatDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        // Добавляем ведущий ноль, если число меньше 10
        if (day < 10) {
            day = '0' + day;
        }
        if (month < 10) {
            month = '0' + month;
        }

        return year + '-' + month + '-' + day;
    }

    $(document).ready(function() {
    $('#filterButton').on('click', function() {
        var selectedDate = $('#datepicker').val();
        var formattedDate = selectedDate ? formatDate(new Date(selectedDate)) : "";

        $.ajax({
            url: '/analysis/filter',
            type: 'GET',
            data: { selectedDate: formattedDate },
            success: function(response) {
                updatePageWithData(response);
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
});

function updatePageWithData(data) {
    $('#totalIncome').text(data.totalIncome);
    $('#totalExpense').text(data.totalExpense);
    $('#balance').text(data.balance);

    // Обновление диаграмм по категориям
    drawPieChart('incomeChart', data.incomeByCategory, 'Доходы по категориям');
    drawPieChart('expenseChart', data.expenseByCategory, 'Расходы по категориям');
}


</script><br><br>
<footer>
    <p>&copy; 2024 Finance Tracker</p>
</footer>
</body>
</html>
